name: build

on:
  push:
    branches:
      - "*"

jobs:
  build:
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v2
      # Install the Node version specified in the project `.node-version` file
      - uses: nodenv/actions/node-version@v2.0.7
        id: nodenv
      - uses: actions/setup-node@v1
        with:
          node-version: "${{ steps.nodenv.outputs.node-version }}"
      # Yarn will also have been installed by actions/setup-node@v1
      - run: yarn install --immutable
      - run: yarn workspace shared build
      - run: yarn workspace server build
      - run: yarn workspace client build
      - run: yarn workspace server test
      - run: yarn workspace client test
      - run: yarn workspace integration test
